.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/editbutton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 1px solid #fff;
  background-color: #000000;
  padding: 0;
  box-sizing: border-box;
}
