.header {
  width: 88.125%;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid #545454;
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
