.popup__submit-text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .popup__submit-text {
    font-size: 14px;
  }
}
