@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-Regular.woff) format('woff'),
    url(../vendor/fonts/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-Medium.woff) format('woff'),
    url(../vendor/fonts/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-Black.woff) format('woff'),
    url(../vendor/fonts/Inter-Black.woff2) format('woff2');
  font-weight: 900;
}

.page {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 142px;
  height: 33px;
}

.main {
  max-width: 880px;
  margin: 0 auto;
}

.profile {
  padding: 36.25px 0 47.25px;
  display: flex;
  justify-content: space-between;
}

.profile__person {
  display: flex;
  gap: 30px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
}
